<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.godotengine.plugin.android.biometricauth">

	<!-- ✅ Required Permissions for GPS -->
	<application>
		<!-- ✅ Godot Plugin Metadata -->
		<meta-data
			android:name="org.godotengine.plugin.v2.BiometricAuth"
			android:value="org.godotengine.plugin.android.biometricauth.BiometricAuth" />
	</application>
</manifest>
